*{
    background-color: white;
    font-family: myFont;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
/* HEADER */
.d-flex{
    display: flex;
}
.align-item-center{
    align-items: center;
}

.menu{
    margin-left: 75px;
    padding-top: 50px;
}
.menu a{
    margin: 0px 20px;
    color: #358E9D;
    text-decoration: none;
}
.menu a:hover{
    color: #FFA52F;
    text-decoration: underline;
}
.home{
    padding-top: 40px;
    margin-left: 40px;
}
.home a{
    color: #358E9D;
    text-decoration: none;
    margin: 0 20px;
}
.home a:hover{
    color: #FFA52F;
    text-decoration: underline;
}
/* END HEADER */
.logo{
    margin: 50px 0;
    display: flex;
}
.logo .btn-logo{
    background-color: white;
    border: 1px solid #358E9D;
    width: 275px;
    height: 240px;
    margin: 20px;
}
.logo .btn-logo:hover{
    border: 5px solid #FFA52F;
}
/* ASIDE */
aside{
    float: left;
    width: 19%;
    border: 1px solid #358E9D;
    padding: 5px;
}
aside h4{
    color: #358E9D;
}
.size button{
    padding: 7px;
    margin-bottom: 8px;
    color: white;
    background-color: #358E9D;
    border: none;
}
.size button:hover{
    background-color: #FFA52F;
    font-weight: bolder;
}
/* END ASIDE */
/* MAIN */
main{
    float: right;
    width: 80%;
}
.product{
    margin-bottom: 20px;
}
.boxsp{
    margin: 10px;
}
.btn{
    color: white;
    padding: 8px;
    border-radius: 8px;
    background-color: #358E9D;
    border: none;
    font-size: 14px;
}
.btn:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: linear;
    background-color: #FFA52F;
}
.layer{
    border: 1px solid #358E9D;
    border-radius: 15px;
}
.box-sp1{
    width: 33%;
}
.box-sp1 img{
    margin-left: 35px;
}
.box-sp1 .tensp{
    margin-left: 75px;
    padding: 5px 0;
}
.box-sp1 button{
    margin-left: 98px;
    margin-top: 8px;
}
.box-sp2{
    width: 33%;
}
.box-sp2 img{
    margin-left: 35px;
}
.box-sp2 .tensp{
    margin-left: 65px;
    padding: 5px 0;
}
.box-sp2 button{
    margin-left: 98px;
    margin-top: 8px;
}
.box-sp3{
    width: 33%;
}
.box-sp3 img{
    margin-left: 35px;
}
.box-sp3 .tensp{
    margin-left: 75px;
    padding: 5px 0;
}
.box-sp3 button{
    margin-left: 98px;
    margin-top: 8px;
}
.box-sp4{
    width: 33%;
}
.box-sp4 img{
    margin-left: 35px;
}
.box-sp4 .tensp{
    margin-left: 82px;
    padding: 5px 0;
}
.box-sp4 button{
    margin-left: 98px;
    margin-top: 8px;
}
.box-sp5{
    width: 33%;
}
.box-sp5 img{
    margin-left: 35px;
}
.box-sp5 .tensp{
    margin-left: 85px;
    padding: 5px 0;
}
.box-sp5 button{
    margin-left: 98px;
    margin-top: 8px;
}
.boxsp{
    margin: 10px;
}
.gia{
    color: red;
    font-weight: 500;
    margin-left: 100px;
}
.box-sp1 img:hover{
    transform: translateY(-8px);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: linear;
}
.box-sp2 img:hover{
    transform: translateY(-8px);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: linear;
}
.box-sp3 img:hover{
    transform: translateY(-8px);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: linear;
}
.box-sp4 img:hover{
    transform: translateY(-8px);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: linear;
}
.box-sp5 img:hover{
    transform: translateY(-8px);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: linear;
}
.next{
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.btn-next{
    color: black;
    background-color: white;
    border: 1px solid #358E9D;
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    margin: 0 3px;
}
.btn-next:hover{
    color: white;
    background-color: #358E9D;
}
/* END MAIN */
/* Footer */
footer{
    padding: 30px 0;
    border-top: 3px solid #358E9D;
    height: 180px;
    clear: both;
}
.con{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
}
.footer-col .logo{
    width: 25%;
}
ul{
    list-style: none;
}
.footer-col{
    width: 25%;
    padding: 0px ;
}
.footer-col h4{
    color: #FFA52F;
    position: relative;
}
.footer-col>ul{
    padding-top: 10px;
} 
.footer-col ul li{
    padding-top: 5px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 8px;
}
.footer-col ul li a{
    text-decoration: none;
    color: black;
    display: block;
    transform: all 0.3s ease;

}
.footer-col ul li a:hover{
    color: #358E9D;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 10px 10px 0;
}
.footer-col .social-links a:hover{
    transform: translateY(-8px);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: linear;
}
/* End footer */