*{
    background-color: white;
    font-family: myFont;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
/* HEADER */
.d-flex{
    display: flex;
}
.align-item-center{
    align-items: center;
}

.menu{
    margin-left: 75px;
    padding-top: 50px;
}
.menu a{
    margin: 0px 20px;
    color: #358E9D;
    text-decoration: none;
}
.menu a:hover{
    color: #FFA52F;
    text-decoration: underline;
}
.home{
    padding-top: 40px;
    margin-left: 40px;
}
.home a{
    color: #358E9D;
    text-decoration: none;
    margin: 0 20px;
}
.home a:hover{
    color: #FFA52F;
    text-decoration: underline;
}
/* END HEADER */

/* MAIN */

main{
    margin: 50px 0;
}
.giohang{
    float: left;
    width: 50%;
    border: 1px solid #358E9D;
    padding: 20px;
    margin-bottom: 40px;
}
h1{
    color: #358E9D;
}
.giohang img{
    border: 1px solid #358E9D;
    border-radius: 20px;
}
.giohang .tt{
    float: right;
    color: #358E9D;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 18px;
}
.tt button{
    color: white;
    background-color: #358E9D;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    padding: 8px;
}
.tt button:hover{
    background-color: #FFA52F;
}
.btn{
    margin-top: 10px;
    margin-left: 50px;
}
.ctdh{
    float: right;
    width: 35%;
    border: 1px solid #358E9D;
    padding: 20px;
    color: #358E9D;
    margin-right: 30px;
}
.ctdh .ct1{
    float: left;
}
.ctdh .ct2{
    float: right;
}
.title{
    clear: both;
}
.layer{
    border: 1px solid #358E9D;
    border-radius: 15px;
}
.box-sp1 img{
    margin-left: 25px;
}
.box-sp1 .tensp{
    margin-left: 75px;
    padding: 10px 0;
}
.box-sp1 button{
    margin-left: 82px;
}
.box-sp2 img{
    margin-left: 25px;
}
.box-sp2 .tensp{
    margin-left: 55px;
    padding: 10px 0;
}
.box-sp2 button{
    margin-left: 82px;
}
.box-sp3 img{
    margin-left: 25px;
}
.box-sp3 .tensp{
    margin-left: 25px;
    padding: 10px 0;
}
.box-sp3 button{
    margin-left: 82px;
}
.box-sp4 img{
    margin-left: 25px;
}
.box-sp4 .tensp{
    margin-left: 60px;
    padding: 10px 0;
}
.box-sp4 button{
    margin-left: 82px;
}
.box-sp1 img:hover{
    transform: translateY(-8px);
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: linear;
}
.box-sp2 img:hover{
    transform: translateY(-8px);
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: linear;
}
.box-sp3 img:hover{
    transform: translateY(-8px);
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: linear;
}
.box-sp4 img:hover{
    transform: translateY(-8px);
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: linear;
}
.other button{
    color: white;
    background-color: #358E9D;
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    border: none;
}
.other button:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: linear;
    background-color: #FFA52F;
}
.boxsp{
    margin:10px 40px;
}
/* END MAIN */
/* FOOTER */
footer{
    padding: 30px 0;
    border-top: 3px solid #358E9D;
    height: 180px;
    clear: both;
}
.con{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
}
.footer-col .logo{
    width: 25%;
}
ul{
    list-style: none;
}
.footer-col{
    width: 25%;
    padding: 0px ;
}
.footer-col h4{
    color: #FFA52F;
    position: relative;
}
.footer-col>ul{
    padding-top: 10px;
} 
.footer-col ul li{
    padding-top: 5px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 8px;
}
.footer-col ul li a{
    text-decoration: none;
    color: black;
    display: block;
    transform: all 0.3s ease;

}
.footer-col ul li a:hover{
    color: #358E9D;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 10px 10px 0;
}
.footer-col .social-links a:hover{
    transform: translateY(-8px);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: linear;
}
/* End footer */