.form-control{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #26a36f;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
*{
    background-color: white;
    font-family: myFont;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

/* HEADER */
.d-flex{
    display: flex;
}
.align-item-center{
    align-items: center;
}

.menu{
    margin-left: 75px;
    padding-top: 50px;
}
.menu a{
    margin: 0px 20px;
    color: #358E9D;
    text-decoration: none;
}
.menu a:hover{
    color: #FFA52F;
    text-decoration: underline;
}
.home{
    padding-top: 40px;
    margin-left: 40px;
}
.home a{
    color: #358E9D;
    text-decoration: none;
    margin: 0 20px;
}
.home a:hover{
    color: #FFA52F;
    text-decoration: underline;
}

/* Main */
button{
    color: white;
    padding: 8px;
    border-radius: 8px;
    background-color: #358E9D;
    border: none;
    font-size: 14px;
}
button:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: linear;
    background-color: #FFA52F;
}
span{
    color: red;
}
/* END HEADER */
.row{
    justify-content: center;
}
.register{
    margin: 10px 60px;
}
.register h2{
    margin: 10px 45px;
}
.register button{
    border: 1px solid black;
    margin: 10px 5px;
    background-color: white;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
}
.register button:hover{
    border: 3px solid #358E9D;
}
label{
    font-weight: bold;
}
.btnn{
    background-color: #358E9D;
    border: none;
    border-radius: 8px;
    margin-bottom: 30px;
}

.btnn:hover{
    background-color: #FFA52F;
}
/* Footer */
footer{
    padding: 30px 0;
    border-top: 3px solid #358E9D;
    height: 180px;
    clear: both;
}
.con{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
}
.footer-col .logo{
    width: 25%;
}
ul{
    list-style: none;
}
.footer-col{
    width: 25%;
    padding: 0px ;
}
.footer-col h4{
    color: #FFA52F;
    position: relative;
}
.footer-col>ul{
    padding-top: 10px;
} 
.footer-col ul li{
    padding-top: 5px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 8px;
}
.footer-col ul li a{
    text-decoration: none;
    color: black;
    display: block;
    transform: all 0.3s ease;

}
.footer-col ul li a:hover{
    color: #358E9D;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 10px 10px 0;
}
.footer-col .social-links a:hover{
    transform: translateY(-8px);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: linear;
}
/* End footer */